@import "tailwindcss";

@layer components {
  .btn-glass {
    @apply px-4 py-2 rounded-2xl 
           bg-white/30 backdrop-blur-sm 
           border border-white/100 
           text-black shadow-xl 
           transition;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* 🔹 Autoplay progress circle */
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: red
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: red;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* Force override Swiper arrow styles */
.swiper-button-next,
.swiper-button-prev {
  width: 15px !important;      /* smaller button box */
  height: 15px !important;
  /* color: #fff !important;      arrow color */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important;  /* smaller arrow icon */
}


@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 20s linear infinite;
}

:root {
  --MostUsed-color: red;  /* main brand color (like red-500) */ /* hover color (like black) */
}
